[submodule "src/izem"]
	path = src/izem
	url = https://github.com/pmodels/izem
[submodule "src/mpid/ch4/netmod/ofi/libfabric"]
	path = src/mpid/ch4/netmod/ofi/libfabric
	url = https://github.com/ofiwg/libfabric
[submodule "src/hwloc"]
	path = src/hwloc
	url = https://github.com/pmodels/hwloc
[submodule "src/mpid/ch4/netmod/ucx/ucx"]
	path = src/mpid/ch4/netmod/ucx/ucx
	url = https://github.com/pmodels/ucx
