[submodule "src/izem"]
	path = src/izem
	url = https://github.com/pmodels/izem
[submodule "src/mpid/ch4/netmod/ofi/libfabric"]
	path = src/mpid/ch4/netmod/ofi/libfabric
	url = https://github.com/pmodels/libfabric
[submodule "src/hwloc"]
	path = src/hwloc
	url = https://github.com/pmodels/hwloc
[submodule "src/mpid/ch4/netmod/ucx/ucx"]
	path = src/mpid/ch4/netmod/ucx/ucx
	url = https://github.com/pmodels/ucx
[submodule "benchmarks/osu-micro-benchmarks-5.1"]
	path = benchmarks/osu-micro-benchmarks-5.1
	url = https://github.com/pmodels/osu-micro-benchmarks-5.1.git
[submodule "benchmarks/imb_2017"]
	path = benchmarks/imb_2017
	url = https://github.com/monicasee/imb_2017.git
