*           whitespace=trail-space,space-before-tab
*.[ch]      whitespace=trail-space,space-before-tab,cr-at-eol,tab-in-indent
Makefile.sm whitespace=trail-space,space-before-tab,cr-at-eol


#  * `blank-at-eof` treats blank lines added at the end of file as an error (enabled by default).
#  * `blank-at-eol` treats trailing whitespaces at the end of the line as an error (enabled by default).
#  * `trailing-space` is a short-hand to cover both `blank-at-eol` and `blank-at-eof`.
#  * `space-before-tab` treats a space character that appears immediately before a tab character in the initial indent part of the line as an error (enabled by default).
#  * `cr-at-eol` treats a carriage-return at the end of line as part of the line terminator, i.e. with it, `trailing-space` does not trigger if the character before such a carriage-return is not a whitespace (not enabled by default).

#  * `indent-with-non-tab` treats a line that is indented with 8 or more space characters as an error (not enabled by default).
#  * `tab-in-indent` treats a tab character in the initial indent part of the line as an error (not enabled by default).

#  * `tabwidth=<n>` tells how many character positions a tab occupies; this is relevant for `indent-with-non-tab` and when git fixes `tab-in-indent` errors. The default tab width is 8. Allowed values are 1 to 63.
