*.o
*.lo
Makefile
Makefile.in
_configs.sed
aclocal.m4
autom4te.cache/
confdb/ar-lib
confdb/compile
confdb/config.guess
confdb/config.sub
confdb/depcomp
confdb/install-sh
confdb/libtool.m4
confdb/ltmain.sh
confdb/ltoptions.m4
confdb/ltsugar.m4
confdb/ltversion.m4
confdb/lt~obsolete.m4
confdb/missing
confdb/test-driver
config.log
config.status
configure
libtool
openpa.pc
.deps/
.libs/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/libopa.la
src/opa_config.h
stamp-h1
test/Makefile
test/Makefile.in
test/sanity
test/test_barriers
test/test_primitives
test/test_queue
